
<nz-layout class="app-layout">
  
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
            
    <div class="sidebar-logo" (click)="isCollapsed = !isCollapsed">

        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1 >Ant Design Of Angular</h1>
  
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        Testing 1
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        Testing 2
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header> -->
    <!-- <nz-content> -->
      <div class="inner-content">
        Tefgggg
      </div>
    <!-- </nz-content> -->
  </nz-layout>
</nz-layout>
